<%- include ('./otherheader.ejs') %>
<style>
.responsive1 {
  width: 100%;
  height: auto;
}
</style>
<section class="">
    <!-- style="background-image: url('/images/<%=result[1][0].categorylogo%>');background-repeat: no-repeat;" -->

<img src="/resize_banner/<%=result[1][0].categorylogo%>" style="width:100%; object-fit: cover;">

    <div class="banner-overly"></div>
<div class="container">
<div class="row">
<div class="col-md-12 text-center">
<h1 class="text-white"></h1>
</div>
</div>
<div class="row mt-5">
<div class="col-xl-9 mx-auto">
<div class="homepage-search-form homepage-search-form-mobile">

</div>
</div>
</div>
</div>
</section>
<section class="section-padding">
<div class="container">
<div class="row">
<div class="col-xl-12 mb-4">
<h4>Top <%=result[1][0].categoryname%></h4>
</div>


<% for(i=0;i<result[1].length;i++){ %>
<div class="col-xl-3 col-sm-6 mb-4">
<div class="custom-card shadow-sm h-100 stor-card">
<div class="custom-card-image">
<a href="/single-vendor-details?vendorid=<%=result[1][i].id%>">
<img class="img-fluid item-img" src="https://dealsaaj.com/images/<%=result[1][i].vendor_image%>">
</a>
</div>
<div class="p-3">
<div class="custom-card-body">
<h6 class="mb-0"><a class="text-black" href="/single-vendor-details?vendorid=<%=result[1][i].id%>"><%=result[1][i].business_name%></a></h6>
<p class="text-gray mb-2"> <%=result[1][i].address%></p>
</div>
</div>

</div>
</div>
<% } %>
</div>

</div>
</section>
<%- include ('./footer.ejs') %>
