

<%- include ('./otherheader.ejs') %>

<style>


    .value-button {
      display: inline-block;
      border: 1px solid #ddd;
      margin: 0px;
      width: 40px;
      height: 42px;
      text-align: center;
      vertical-align: middle;
      padding: 11px 0;
      background: #eee;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    
    .value-button:hover {
      cursor: pointer;
    }
    
    form #decrease {
      margin-right: -4px;
      border-radius: 8px 0 0 8px;
    }
    
    form #increase {
      margin-left: -4px;
      border-radius: 0 8px 8px 0;
    }
    
    form #input-wrap {
      margin: 0px;
      padding: 0px;
    }
    
    input#number {
      text-align: center;
      border: none;
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      margin: 0px;
      width: 40px;
      height: 40px;
    }
    
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    </style>

    
<section class="bg-gradient-primary section-padding">
<div class="container">
<div class="row py-lg-5">
<div class="col-md-6 mx-auto text-center">
<h1 class="text-white mb-3">My Cart</h1>

</div>
</div>
</div>
</section>
<section class="offer-dedicated-body section-padding">
<div class="container">
<div class="row pt-lg-4">
<div class="col-lg-8">
<div class="offer-dedicated-body-left">
<div class="rounded bg-white shadow-sm p-4 mb-4">



    <table class="table table-bordered">
        <thead>
        <tr>
        <th class="product-name"><span>Product</span></th>
        <th>Name</th>
        <th class="product-price"><span>Price</span></th>
        <th class="product-quantity"><span>Quantity</span></th>
        <th class="product-subtotal"><span>Subtotal</span></th>
        </tr>
        </thead>
        <tbody>


          <% for(i=0;i<result[1].length;i++) { %>

        <tr>

          
        <td class="product-thumbnail">
        <div class="p-relative">
        <a href="/product?id=<%=result[1][i].booking_id%>">
        <figure>
        <img src="/images/<%=result[1][i].bookingimage%>" alt="product" style="width: 50px;height: 50px;" width="300" height="338">
        </figure>
        </a>
        <!-- <button type="submit" class="btn btn-close">
        <a href="/delete?id=88">
        <i class="fas fa-times"></i>
        </a>
        </button> -->
        </div>
        </td>
        <td class="product-name">
        <a href="/product?id=<%=result[1][i].booking_id%>">
          <%=result[1][i].bookingname%>
        </a>
        </td>
        <td class="product-price"><span class="amount">Rs. <%=result[1][i].oneprice%></span></td>
        <td class="product-quantity">
            <form>
                <div class="value-button minus" categoryid="<%=result[1][i].categoryid%>" availablequantity="<%=result[1][i].availablequantity%>" booking_id = "<%=result[1][i].booking_id%>" number="<%=result[1][i].number%>" value="<%=result[1][i].quantity%>" price="<%=result[1][i].oneprice%>" id="decrease" value="Decrease Value">-</div>
                <input type="number" id="number" value="<%=result[1][i].quantity%>" />
                <div class="value-button add" id="increase" categoryid="<%=result[1][i].categoryid%>" booking_id = "<%=result[1][i].booking_id%>" number="<%=result[1][i].number%>" availablequantity="<%=result[1][i].availablequantity%>"  value="<%=result[1][i].quantity%>" price="<%=result[1][i].oneprice%>" dp_price = "<%=result[1][i].dp%>" value="Increase Value">+</div>
              </form>
        <!-- <div class="input-group"> -->
        <!-- <button class="quantity-minus btn btn-secondary w-icon-minus minus" categoryid="14" availablequantity="2" booking_id="69" number="" value="1" price="108">-</button>

        <input class=" form-control" type="text" value="1" style="width: 20px;">
        <button class="quantity-plus btn btn-secondary w-icon-plus add" categoryid="14" booking_id="69" number="" availablequantity="2" value="1" price="108" dp_price="">+</button> -->
        </div>
        </td>
        <td class="product-subtotal">
        <span class="amount">Rs. <%=result[1][i].price%></span>
        </td>
        </tr>

        <% } %>
        </tbody>
        </table>



</div>


</div>
</div>
<div class="col-lg-4">
<div class="rounded bg-white shadow-sm mb-4 p-4 upgrade-coin">


<h5 class="mb-4  text-gray-900">Cart Totals <a class="light-gray" href="#"></a></h5>


<hr class="divider">
<div class="upgrade-coin-header clearfix">
    <div class="float-left">
    <h6 class="m-0 text-primary">Total</h6>
    </div>
    <div class="float-right text-right pt-1">
    <h6 class="m-0 text-primary">Rs. <%=result[2][0].totalprice%></h6>
    </div>
    
    </div>

<hr class="divider">

    
<a href="/checkout" class="btn btn-block btn-dark btn-icon-right btn-rounded  btn-checkout">
    Proceed to checkout<i class="w-icon-long-arrow-right"></i></a>

</div>

</div>
</div>
</div>
</section>


<%- include ('./footer.ejs') %>
    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $('.add').click(function(){
 let value = $(this).attr('value')
 let price = $(this).attr('price')
 let booking_id = $(this).attr('booking_id');
 let usernumber = $(this).attr('number');
 let categoryid = $(this).attr('categoryid');
 let availablequantity = $(this).attr('availablequantity')




 let quantity = (+value)+1;


 if(quantity>availablequantity){
  alert(`We have only ${availablequantity} stocks available`)
 }
 else{
    $.post('/cart-handler',{quantity,price,booking_id,usernumber,categoryid},data=>{
            window.location.href = '/mycart'
      })
 }

 

     
    })





    $('.minus').click(function(){
 let value = $(this).attr('value')
 let price = $(this).attr('price')
 let booking_id = $(this).attr('booking_id');
 let usernumber = $(this).attr('number');
 let categoryid = $(this).attr('categoryid');


 let quantity = (+value)-1;

 


$.post('/cart-handler',{quantity,price,booking_id,usernumber,categoryid},data=>{
            window.location.href = '/mycart'
      })

     
    })


</script>
<!-- Mirrored from portotheme.com/html/wolmart//mycart by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 30 Jun 2021 06:20:00 GMT -->
</html>