


<%- include ('./header.ejs') %>


<section class="offer-dedicated-banner text-ceter">
    <div class="owl-carousel p-0 owl-theme restaurant-slider">

        <% for(i=0;i<result[1].length;i++) { %>


    <div class="item p-0 m-0">
    <img class="img-fluid" src="/images/<%=result[1][i].image%>" style="width:100%;height:100%">
    </div>

    <% } %>

    </div>
    </section>


<section class="section-padding homepage-view-offers">
<div class="container">
<div class="d-sm-flex align-items-center justify-content-between mb-4">
<h1 class="h5 mb-0 text-gray-900">Exclusive Deals</h1>
<a href="/exclusive-deals-and-offers" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-eye fa-sm text-white-50"></i> View All</a>
</div>
<div class="row">


    <% for(i=0;i<result[3].length;i++) { %>

<div class="col-xl-3 col-sm-6" style="margin-top: 30px;">
<div class="custom-card shadow-sm h-100">
<div class="custom-card-image">
<a href="#">
<img class="img-fluid item-img" src="/images/<%=result[3][i].image%>" style="object-fit:cover;">
</a>

</div>
<div class="p-3 pt-4">
<div class="custom-card-body">
<h6 class="mb-3"><a class="text-gray-900" href="#"><%=result[3][i].short_description%></a></h6>
<p class="text-gray-500"><i class="icofont-clock-time"></i> Expiry at <%=result[3][i].expiry%></p>
</div>
<div class="custom-card-footer d-flex align-items-center">




        <% if(result[3][i].isredeem == null || result[3][i].isredeem == '' || result[3][i].isredeem == 'null' || result[3][i].isredeem ==[]){ %>

<a class="btn btn-sm btn-white ml-auto redeem_this_code" id="<%=result[3][i].id%>" code="<%=result[3][i].name%>" expiry="<%=result[3][i].expiry%>" vendorid = '<%=result[3][i].vendorid%>' style="cursor:pointer">Redeem Deals</a>

<% } else { %>


    <% } %>


</div>
</div>
</div>
</div>

<% } %>

</div>
</div>
</section>


<section class="section-padding homepage-store-block">
<div class="container">
<div class="d-sm-flex align-items-center justify-content-between mb-4">
<h1 class="h5 mb-0 text-gray-900">Deals of the Day</h1>
<a href="/exclusive-deals-and-offers" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-eye fa-sm text-white-50"></i> View All</a>
</div>
<div class="row  align-items-center">
<div class="col-lg-12">
 <div class="owl-carousel owl-theme owl-carousel-four homepage-coupon-carousel">

    <% for(i=0;i<result[4].length;i++) { %>


    <div class="item">
<div class="custom-card bg-white shadow-sm h-100 stor-card">
<div class="custom-card-image">

<a href="#">
<img class="img-fluid item-img" src="/images/<%=result[4][i].image%>">
</a>
<div class="shape shape-bottom shape-fluid-x svg-shim text-white">
<svg viewBox="0 0 2880 480" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M2160 0C1440 240 720 240 720 240H0V480H2880V0H2160Z" fill="currentColor"></path>
</svg>
</div>
</div>
<div class="p-3">
<div class="custom-card-body">
<h6 class="mb-0"><a class="text-gray-900" href="#"><%=result[4][i].short_description%></a></h6>
<p class="text-gray-500 mb-2"> Expiry at <%=result[4][i].expiry%></p>
<% if(result[4][i].isredeem == null || result[4][i].isredeem == '' || result[4][i].isredeem == 'null' || result[4][i].isredeem ==[]){ %>

    <a class="btn btn-sm btn-white ml-auto redeem_this_code" id="<%=result[4][i].id%>" code="<%=result[4][i].name%>" expiry="<%=result[4][i].expiry%>" vendorid = '<%=result[4][i].vendorid%>' style="cursor:pointer">Redeem Deals</a>
    
    <% } else { %>
    
        <% } %>


</div>
</div>
<div class="p-3 border-top">
<div class="custom-card-badge">

  


</div>
</div>
</div>
</div>

 <% } %>

</div>
</div>
</div>
</div>
</section>

    <section class="section-padding homepage-view-offers">
    <div class="container">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h5 mb-0 text-gray-900">Recommended Categories</h1>
    <a href="/exclusive-deals-and-offers" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-eye fa-sm text-white-50"></i> View All</a>
    </div>
    <div class="row">

        <% const filteredData = result[0].filter(item => item.type == 'yes') %>

			 <% for(i=0;i<filteredData.length;i++){%>


        <div class="col-xl-3 col-sm-6 col-6 col-md-3 mb-4">
            <div class="custom-card shadow-sm bg-white h-40">
                    <a class="nav-link text-center" href="/shop-by-category?categoryid=<%=filteredData[i].id%>">
                    <img class="img-fluid" src="/images/<%=filteredData[i].icon%>" style="width:100%;height:150px;object-fit: cover;"> <br><br>
                    <span><%=filteredData[i].name%></span></a>
            
            
            </div>
            </div>

            <% } %>
           

    </div>
    </div>
    </section>


        <section class="section-padding homepage-view-offers">
        <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h5 mb-0 text-gray-900">Mega Deals</h1>
        <a href="/exclusive-deals-and-offers" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-eye fa-sm text-white-50"></i> View All</a>
        </div>
        <div class="row">
        
        
            <% for(i=0;i<result[5].length;i++) { %>
        
        <div class="col-xl-3 col-sm-6">
        <div class="custom-card shadow-sm h-100">
        <div class="custom-card-image">
        <a href="#">
        <img class="img-fluid item-img" src="/images/<%=result[5][i].image%>">
        </a>
        
        </div>
        <div class="p-3 pt-4">
        <div class="custom-card-body">
        <h6 class="mb-3"><a class="text-gray-900" href="#"><%=result[5][i].short_description%></a></h6>
        <p class="text-gray-500"><i class="icofont-clock-time"></i> Expiry at <%=result[5][i].expiry%></p>
        </div>
        <div class="custom-card-footer d-flex align-items-center">
       
        
        
                <% if(result[5][i].isredeem == null || result[5][i].isredeem == '' || result[5][i].isredeem == 'null' || result[5][i].isredeem ==[]){ %>
        
        <a class="btn btn-sm btn-white ml-auto redeem_this_code" id="<%=result[5][i].id%>" code="<%=result[5][i].name%>" expiry="<%=result[5][i].expiry%>" vendorid = '<%=result[5][i].vendorid%>' style="cursor:pointer">Redeem Deals</a>
        
        <% } else { %>
        
        
            <% } %>
        
        
        </div>
        </div>
        </div>
        </div>
        
        <% } %>
        
        </div>
        </div>
        </section>






        <section class="section-padding homepage-view-offers">
            <div class="container">
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h5 mb-0 text-gray-900">Near by Shop</h1>
            <a href="/exclusive-deals-and-offers" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-eye fa-sm text-white-50"></i> View All</a>
            </div>
            <div class="row">
            
            
                <% for(i=0;i<result[6].length;i++) { %>
            
            <div class="col-xl-3 col-sm-6" style="height: 350px;">
            <div class="custom-card shadow-sm">
            <div class="custom-card-image">
            <a href="/single-vendor-details?vendorid=<%=result[6][i].id%>">
            <img class="img-fluid item-img" src="/images/<%=result[6][i].image%>">
            </a>
            
            </div>
            <div class="p-3 pt-4">
            <div class="custom-card-body">
            <h6 class="mb-3"><a class="text-gray-900" href="#"><%=result[6][i].business_name%>
            </a></h6>
           
            </div>
            <div class="custom-card-footer d-flex align-items-center">
            
          
            
                <span class="text-muted" style="font-size: 12px;"> <%=result[6][i].address%> </span>
            
            
            
                   
            
            
            </div>
            </div>
            </div>
            </div>
            
            <% } %>
            
            </div>
            </div>
            </section>

<%- include ('./footer.ejs') %>
      

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $('.redeem_this_code').click(function(){
        let coupounid = $(this).attr('id')
        let code = $(this).attr('code')
        let expiry = $(this).attr('expiry')
        let vendorid = $(this).attr('vendorid')

        $.post('/redeem-this-code',{coupounid,code,expiry,vendorid},data=>{
            if(data.msg=='failed') window.location.href = '/login';
            else window.location.reload()
        })
    })
</script>

</body>

<!-- Mirrored from askbootstrap.com/preview/osahan-deel/without-sidebar// by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 06 Mar 2022 19:43:38 GMT -->
</html>