<%- include ('./header.ejs') %>
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

<style>

#demo {
    background: linear-gradient(112deg, #ffffff 50%, #d9d7fa  50%);
    height: 402px;
    margin: auto;
    
}

.carousel-caption {
    position: initial;
    z-index: 10;
    padding: 5rem 8rem;
    color: rgba(78, 77, 77, 0.856);
    text-align: center;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: bold;
    line-height: 2rem
}

@media(max-width:767px) {
    .carousel-caption {
        position: initial;
        z-index: 10;
        padding: 3rem 2rem;
        color: rgba(78, 77, 77, 0.856);
        text-align: center;
        font-size: 0.7rem;
        font-style: italic;
        font-weight: bold;
        line-height: 1.5rem
    }
}

.carousel-caption img {
    width: 6rem;
    border-radius: 5rem;
    margin-top: 2rem
}

@media(max-width:767px) {
    .carousel-caption img {
        width: 4rem;
        border-radius: 4rem;
        margin-top: 1rem
    }
}

#image-caption {
    font-style: normal;
    font-size: 1rem;
    margin-top: 0.5rem
}

@media(max-width:767px) {
    #image-caption {
        font-style: normal;
        font-size: 0.6rem;
        margin-top: 0.5rem
    }
}

.i1 {
    background-color: rgb(223, 56, 89);
    padding: 1.4rem
}

@media(max-width:767px) {
    .i1 {
        padding: 0.8rem
    }
}

.carousel-control-prev {
    justify-content: flex-start
}

.carousel-control-next {
    justify-content: flex-end
}

.carousel-control-prev,
.carousel-control-next {
    transition: none;
    opacity: unset;
}

</style>

<section class="pt-5 pb-5 homepage-search-block position-relative">
<div class="container">
<div class="row">
<div class="col-md-8">
<div class="homepage-search-title">
<h1 class="mb-3 text-white text-shadow font-weight-bold">Find best deals in your <span class="font-weight-light">City</span></h1>
<h5 class="mb-5 text-white text-shadow font-weight-normal">Top offers at your City.</h5>
</div>
<div class="homepage-search-form">
<form class="form-noborder" action="/search" method="get">
<div class="form-row">

<div class="col-lg-7 col-md-7 col-sm-12 form-group">
<input type="text" name="search" onkeypress="return blockSpecialChar(event)" placeholder="Search for stores, coupons, & offers…" class="form-control form-control-lg">
</div>
<div class="col-lg-2 col-md-2 col-sm-12 form-group">
<button type="submit" class="btn btn-primary btn-block btn-lg btn-gradient"><i class="icofont-search"></i></button>
</div>
</div>
</form>
</div>
<h6 class="mb-0 mt-1 text-white text-shadow font-weight-normal">E.g. Coupons, Offers, Brands, Stores, Restaurants & more...</h6>
</div>
<div class="col-md-4">
<img src="/images/WebMobile.png" class="img-fluid">
</div>
</div>
</div>
</section>
</div>



<section class="section-padding homepage-great-deals bg-white">
    <div class="container">
    <div class="row">
    <div class="col-lg-12">
    <div class="owl-carousel owl-theme owl-carousel-one homepage-great-deals-carousel">
        <div class="item">
            <div class="great-deals-sstore-banners">
            <a href="/shop-by-category?categoryid=52"><img alt="placeholder image" src="/images/Comming_Soon.jpg" class="img-fluid rounded"></a>
            </div>
            </div>
        <div class="item">
    <div class="great-deals-sstore-banners">
    <a href="/shop-by-category?categoryid=52"><img alt="placeholder image" src="/resize_banner/Restaurants.jpg" class="img-fluid rounded"></a>
    </div>
    </div>
    <div class="item">
    <div class="great-deals-sstore-banners">
    <a href="shop-by-category?categoryid=64"><img alt="placeholder image" src="/resize_banner/Water-Park.png" class="img-fluid rounded"></a>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>



<section class="section-padding homepage-view-offers">
<div class="container">
<div class="row">
<div class="col-md-5 mx-auto text-center">
<h3 class="mb-3">Exclusive Deals</h3>
<p class="text-dark-50 mb-5">Deals build for you.</p>
</div>
</div>
<div class="row">


    <% for(i=0;i<result[3].length;i++) { %>
<div class="col-xl-3 col-sm-6 mb-4">
<div class="custom-card shadow-sm h-100">
<div class="custom-card-image">
<a href="#">
<img class="img-fluid item-img" src="/images/<%=result[3][i].image%>">
</a>

</div>
<div class="p-3 pt-4">
<div class="custom-card-body">
<h6 class="mb-3"><a class="text-black" href="#"><%=result[3][i].short_description%></a></h6>
</div>


<% if(result[3][i].isredeem == null || result[3][i].isredeem == '' || result[3][i].isredeem == 'null' || result[3][i].isredeem ==[]){ %>
<div class="custom-card-footer mb-2">

    <a class="btn btn-orange float-right redeem_this_code" style="margin-bottom: 10px;" id="<%=result[3][i].id%>" code="<%=result[3][i].name%>" expiry="<%=result[3][i].expiry%>" vendorid = '<%=result[3][i].vendorid%>'>
        Redeem Deals</a>
        </div>
    <% } else { %>
        <% } %>


</div>
</div>
</div>
<% } %>

</div>
</div>
</section>
<!-- homepage-coupon style use in this content -->
<section class="section-padding" style="background-image:linear-gradient(to right,#672974,#3239c1d9);">
    <div class="container">
    <div class="row  align-items-center">
    <div class="col-lg-4 col-md-4">
    <div class="homepage-left-block">
    <img class="round-co-icon" src="/resize_banner/Dealsoftheday.png" alt="Get Badges Icons">
    <h3 class="text-white">Deals of the day</h3>
    <p class="text-white">Grab lightning deals at lightning speed.</p>
    <a class="btn btn-light-white text-white btn-sm rounded-pill" href="/exclusive-deals-and-offers">View more</a>
    </div>
    </div>
    <div class="col-lg-8 col-md-8">
    <div class="owl-carousel owl-theme owl-carousel-three homepage-coupon-carousel">
  
        <% for(i=0;i<result[4].length;i++) { %>
        <div class="item">
    <div class="bg-white p-4 shadow-sm text-center h-100 border-radius">
    <div class="all-coupon">
    <img class="mb-3 user-cou-img" src="/images/<%=result[4][i].image%>" alt="Generic placeholder image">
    <h6 class="mb-4 mt-3 pb-2 text-secondary"><%=result[4][i].short_description%></h6>
    </div>
    <div class="mb-0">
    </div>
    <% if(result[4][i].isredeem == null || result[4][i].isredeem == '' || result[4][i].isredeem == 'null' || result[4][i].isredeem ==[]){ %>
        <a class="btn btn-sm btn-white ml-auto redeem_this_code" id="<%=result[4][i].id%>" code="<%=result[4][i].name%>" expiry="<%=result[4][i].expiry%>" vendorid = '<%=result[4][i].vendorid%>' style="cursor:pointer">Redeem Deals</a>
        
        <% } else { %>
        
            <% } %>
    </div>
    </div>
  <% } %>
    </div>
    </div>
    </div>
    </div>
    </section>

 <section class="section-padding homepage-store-block">
<div class="container">
<div class="row  align-items-center">
<div class="col-lg-9 col-md-8">
<div class="owl-carousel owl-theme owl-carousel-three homepage-coupon-carousel">


    <% for(i=0;i<result[5].length;i++) { %>
    <div class="item">
<div class="custom-card bg-white shadow-sm h-100 stor-card">
<div class="custom-card-image">
<a href="#">
<img class="img-fluid item-img" src="/images/<%=result[5][i].image%>">
</a>
<div class="shape shape-bottom shape-fluid-x svg-shim text-white">
<svg viewBox="0 0 2880 480" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M2160 0C1440 240 720 240 720 240H0V480H2880V0H2160Z" fill="currentColor"></path>
</svg>
</div>
</div>
<div class="p-3">
<div class="custom-card-body">
<h6 class="mb-0"><a class="text-black" href="#"><%=result[5][i].short_description%></a></h6>
<p class="text-gray mb-2">Expiry at <%=result[5][i].expiry%></p>
</div>
</div>
<div class="p-3 border-top">
<div class="custom-card-badge">
    <% if(result[5][i].isredeem == null || result[5][i].isredeem == '' || result[5][i].isredeem == 'null' || result[5][i].isredeem ==[]){ %>
        
        <a class="btn btn-sm btn-white ml-auto redeem_this_code" id="<%=result[5][i].id%>" code="<%=result[5][i].name%>" expiry="<%=result[5][i].expiry%>" vendorid = '<%=result[5][i].vendorid%>' style="cursor:pointer">Redeem Deals</a>
        
        <% } else { %>
        
        
            <% } %>
</div>
</div>
</div>
</div>
<% } %>

</div>
</div>
<div class="col-lg-3 col-md-4">
<div class="homepage-left-block text-right">
<img class="round-co-icon" src="/resize_banner/Mega_Deals.png" alt="Get Badges Icons">
<h3 class="text-white">Mega Deals</h3>
<p class="text-white pl-0 pr-0">Offers that you can't miss , Grab them now!
</p>
<a class="btn btn-light-white text-white btn-sm rounded-pill" href="/exclusive-deals-and-offers">View more</a>
</div>
</div>
</div>
</div>
</section>
<section class="section-padding homepage-great-deals bg-white">
<div class="container">
<div class="row">

    <div class="col-lg-6 col-md-6">
<div class="great-deals-sstore-banners">
<a href="/shop-by-category?categoryid=66"><img alt="placeholder image" src="/resize_banner/Education1.jpg" class="img-fluid rounded"></a>
</div>

<div class="great-deals-sstore-banners">
<a href="/shop-by-category?categoryid=40"><img alt="placeholder image" src="/resize_banner/Grocery1.jpg" class="img-fluid rounded"></a>
</div>
</div>
<div class="col-lg-6 col-md-6">
    <div class="great-deals-sstore-banners">
    <a href="/shop-by-category?categoryid=29"><img alt="placeholder image" src="/resize_banner/Cafe.jpg" class="img-fluid rounded"></a>
    </div>
    
    <div class="great-deals-sstore-banners">
    <a href="/shop-by-category?categoryid=26"><img alt="placeholder image" src="/resize_banner/Bakery1.jpg" class="img-fluid rounded"></a>
    </div>
    </div>
</div>
</div>
</section>
<section class="section-padding homepage-rest-block">
<div class="container">
<div class="row">
<div class="col-md-5 mx-auto text-center">
<h3 class="mb-3 text-white">Top Stores</h3>
<p class="text-white-50 mb-5">Explore Best stores at your City on your Finger Tips. Order Now! & get Exclusive deals and offers.</p>
</div>
</div>
<div class="row">


    <% for(i=0;i<result[6].length;i++) { %>
<div class="col-xl-3 col-sm-6 mb-4">
<div class="custom-card shadow-sm bg-white h-100">
<div class="custom-card-image">
<a href="/single-vendor-details?vendorid=<%=result[6][i].id%>">
    <style>
        .container {
          position: relative;
          text-align: center;
          color: black;
        }
        
        .bottom-left {
          position: absolute;
          bottom: 8px;
          left: 16px;
        }
        
        .top-left {
          position: absolute;
          top: 8px;
          left: 16px;
        }
        
        .top-right {
          position: absolute;
          top: 8px;
          right: 16px;
        }
        
        .bottom-right {
          position: absolute;
          bottom: 8px;
          right: 16px;
        }
        
        .centered {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        </style>


<% if(result[6][i].image) { %>
    <div class="container" style="background-color: #8A8B8D;">
        <img class="item-img" src="/images/thubnail.jpg" style="width: 100%;">
    
        <div class="centered"><%=result[6][i].business_name.match(/(?<=(\s|^))[a-z]/gi).join('').toUpperCase()%></div>
      </div>

    <% } else { %>
        <img class="img-fluid item-img" src="https://dealsaaj.com/images/<%=result[6][i].image%>" style="object-fit:fill">


<% } %>

   
    
</a>
<div class="shape shape-bottom shape-fluid-x svg-shim text-white">
<svg viewBox="0 0 2880 480" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M2160 0C1440 240 720 240 720 240H0V480H2880V0H2160Z" fill="currentColor"></path>
</svg>
</div>
</div>
<div class="p-3">
<div class="custom-card-body">
<h6 class="mb-1"><a class="text-black" href="/single-vendor-details?vendorid=<%=result[6][i].id%>"><%=result[6][i].business_name%></a></h6>
</div>
<div class="custom-card-badge mt-2">
    <%=result[6][i].address%>
</div>
</div>
</div>
</div>
<% } %>
</div>
<div class="text-center mt-4">
<a class="btn btn-light-white text-white btn-sm rounded-pill" href="/exclusive-deals-and-offers">View more</a>
</div>
</div>
</section>


<!-- testimonial area -->

<div class="container mt-3">
    <div id="demo" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">



            

            <div class="carousel-item active">
              
                <div class="carousel-caption">
                    <h3 style="text-align: center;">"What Our Customer Says"</h3>
                    <p>Good Experiance with customer support good product in best price nice  many choices in products and thanks for deliver in time good platform. </p> <img src="https://i.pinimg.com/originals/83/60/f6/8360f6e8e6167d545b0c34de7490cc1e.jpg" class="img-circle">
                    <div id="image-caption">Suraj Kumar</div>
                    
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-caption">
                    <h3 style="text-align: center;">"What Our Customer Says"</h3>
                    <p>This platform is yery use full thanks to dealsaaj giving me multipal choise of products the best part is direct connection to the merchant love it.</p> <img src="https://2.bp.blogspot.com/-zlpLRIvVqgM/WOS9ttVhAWI/AAAAAAAAARc/WcidjGJmK3ERqU5MkhWzSzZsTCm6NSkLgCLcB/s1600/17410431_713117542195184_638417076_n.jpg" class="img-fluid">
                    <div id="image-caption">Rajesh Shukla</div>
                    
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-caption">
                      <h3 style="text-align: center;">"What Our Customer Says"</h3>
                    <p>Good platform easily get the thing that you want i got my product in time nice customer support i can direct connect to the seller is very awesome.</p> <img src="https://1.bp.blogspot.com/-HUIIF0-iTG0/W-pEZM7jKQI/AAAAAAAABCc/Mp7fp5aMaHALm-qo5KMVn4ECyjFNaLEBQCLcBGAs/s1600/Marjook161.jpg" class="img-fluid">
                    <div id="image-caption">Shanu Mishra</div>
                    
                </div>

            </div>

            
        </div> <a class="carousel-control-prev" href="#demo" data-slide="prev"> <i class='fas fa-arrow-left i1'></i> </a> <a class="carousel-control-next" href="#demo" data-slide="next"> <i class='fas fa-arrow-right i1'></i> </a>
    </div>








</div>

<!-- {item.business_name.match(/(?<=(\s|^))[a-z]/gi).join('').toUpperCase()} -->
<!-- end -->

<script type="text/javascript">
    function blockSpecialChar(e) {
        var k = e.keyCode;
        return (k != 39);
    }
  </script>

<%- include ('./footer.ejs') %>
