
<%- include ('./header.ejs') %>


<main class="main">
    <div class="intro-section">
        <div class="owl-carousel owl-theme owl-nav-inner owl-dot-inner row gutter-no cols-1 animation-slider"
            data-owl-options="{
            'nav': false,
            'dots': true,
            'items': 1,
            'autoplay': false,
            'responsive': {
                '1630': {
                    'nav': true,
                    'dots': false
                }
            }
        }">
           
        
        <% for(i=0;i<result[2].length;i++) { %>
            <a href='#'>
        <div class="banner banner-fixed intro-slide intro-slide1+<%=result[2][i].id%>"
                style="background-image: url(/images/<%=result[2][i].image%>); background-color: #f1f0f0;">
                <div class="container">
                    <figure class="slide-image floating-item slide-animate" data-animation-options="{
                        'name': 'fadeInDownShorter', 'duration': '1s'
                    }" data-options="{'relativeInput':true,'clipRelativeInput':true,'invertX':true,'invertY':true}"
                        data-child-depth="0.2">
                        <img src="/images/<%=result[2][i].image%>" alt="Ski" width="729"
                            height="570" />
                    </figure>
                   
                    <!-- End of .banner-content -->
                </div>
                <!-- End of .container -->
            </div>
            <!-- End of .intro-slide1 -->
</a>
            <% } %>

           

         
            <!-- End of .intro-slide3 -->
        </div>
    </div>
    <!-- End of .intro-section -->

    <div class="container">
        <div class="owl-carousel owl-theme row cols-md-4 cols-sm-3 cols-1 icon-box-wrapper appear-animate br-sm mt-6 mb-10 appear-animate"
            data-owl-options="{
            'nav': false,
            'dots': false,
            'loop': true,
            'autoplay': true,
            'autoplayTimeout': 4000,
            'responsive': {
                '0': {
                    'items': 1
                },
                '576': {
                    'items': 2
                },
                '768': {
                    'items': 3
                },
                '992': {
                    'items': 3
                },
                '1200': {
                    'items': 4
                }
            }
        }">
            <div class="icon-box icon-box-side text-dark">
                <span class="icon-box-icon icon-shipping">
                    <i class="w-icon-truck"></i>
                </span>
                <div class="icon-box-content">
                    <h4 class="icon-box-title">Free Shipping & Returns</h4>
                    <p class="text-default">For all orders over $99</p>
                </div>
            </div>
            <div class="icon-box icon-box-side text-dark">
                <span class="icon-box-icon icon-payment">
                    <i class="w-icon-bag"></i>
                </span>
                <div class="icon-box-content">
                    <h4 class="icon-box-title">Secure Payment</h4>
                    <p class="text-default">We ensure secure payment</p>
                </div>
            </div>
            <div class="icon-box icon-box-side text-dark icon-box-money">
                <span class="icon-box-icon icon-money">
                    <i class="w-icon-money"></i>
                </span>
                <div class="icon-box-content">
                    <h4 class="icon-box-title">Money Back Guarantee</h4>
                    <p class="text-default">Any back within 30 days</p>
                </div>
            </div>
            <div class="icon-box icon-box-side text-dark icon-box-chat">
                <span class="icon-box-icon icon-chat">
                    <i class="w-icon-chat"></i>
                </span>
                <div class="icon-box-content">
                    <h4 class="icon-box-title">Customer Support</h4>
                    <p class="text-default">Call or email us 24/7</p>
                </div>
            </div>
        </div>
        <!-- End of Iocn Box Wrapper -->

      
        <!-- End of Product Deals Warpper -->

        <div class="row category-wrapper electronics-cosmetics appear-animate mb-7">
            <div class="col-md-6 mb-4">
                <div class="banner banner-fixed br-sm">
                    <figure>
                        <img src="/wolmart/assets/images/demos/demo2/categories/1-1.jpg" alt="Category Banner"
                            width="640" height="200" style="background-color: #25282D;" />
                    </figure>
                    <div class="banner-content y-50">
                        <h3 class="banner-title text-white ls-25 mb-0">Electronics</h3>
                        <div class="banner-price-info text-white font-weight-bold text-uppercase mb-1">Starting
                            At
                            <strong class="text-secondary">$125.00</strong>
                        </div>
                        <hr class="banner-divider bg-white" />
                        <a href="/shop-by-category?categoryid=13"
                            class="btn btn-white btn-link btn-underline btn-icon-right">
                            Shop Now<i class="w-icon-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="banner banner-fixed br-sm">
                    <figure>
                        <img src="/wolmart/assets/images/demos/demo2/categories/1-2.jpg" alt="Category Banner"
                            width="640" height="200" style="background-color: #eeedec;" />
                    </figure>
                    <div class="banner-content y-50">
                        <h3 class="banner-title ls-25 text-capitalize mb-0">Cosmetics Sets</h3>
                        <div class="banner-price-info font-weight-bold text-uppercase mb-1">Sale Up To
                            <strong class="text-secondary">30% Off</strong>
                        </div>
                        <hr class="banner-divider bg-dark" />
                        <a href="/shop-by-category?categoryid=13"
                            class="btn btn-dark btn-link btn-underline btn-icon-right">
                            Shop Now<i class="w-icon-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Category Wrapper -->

       
        <!-- End of Vendor Wrapper -->
   
        <!-- End of Tab Title-->

        <!-- End of Tab Content -->

       
        <!-- End of Sale Banner -->

        
        <!-- End of Banner Product Wrapper -->

        <div class="row category-wrapper sports-fashion mb-8 appear-animate">
            <div class="col-md-6 mb-4">
                <div class="banner banner-fixed br-sm">
                    <figure>
                        <img src="/wolmart/assets/images/demos/demo2/categories/2-1.jpg" alt="Category Banner"
                            width="640" height="200" style="background-color: #EAEAEA;" />
                    </figure>
                    <div class="banner-content y-50 text-right">
                        <h5 class="banner-subtitle text-uppercase font-weight-bold">New Arrivals</h5>
                        <h3 class="banner-title text-capitalize ls-25">Sport Outfits</h3>
                        <hr class="banner-divider bg-dark ml-auto mb-3">
                        <div class="banner-price-info text-dark">
                            From <span class="text-secondary font-weight-bolder ls-25">$150.00</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="banner banner-fixed br-sm">
                    <figure>
                        <img src="/wolmart/assets/images/demos/demo2/categories/2-2.jpg" alt="Category Banner"
                            width="640" height="200" style="background-color: #181411;" />
                    </figure>
                    <div class="banner-content y-50">
                        <h5 class="banner-subtitle text-uppercase font-weight-normal text-white">SmartWatches
                        </h5>
                        <h3 class="banner-title text-white ls-25">Sale up to 20% Off</h3>
                        <hr class="banner-divider bg-white">
                        <div class="banner-price-info text-white">
                            Starting at <span class="text-secondary font-weight-bolder ls-25">$270.00</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Category Wrapper -->


        <div class="page-content mb-8" style="margin-top: 20px;">
            <div class="container">
                <!-- Start of Vendor Map -->
              
                <!-- End of Vendor Map -->

                <!-- Start of Vendor Filter -->
                
                <!-- End of Vendor Filter -->

                <!-- Start of Vendor Store -->
                <div class="row cols-lg-3 cols-sm-2">
                    <div class="store-wrap mb-4">
                        <div class="store store-wcmp br-sm">
                            <figure class="store-banner">
                                <img src="/wolmart/assets/images/vendor/wcmp/1.jpg" alt="Vendor" 
                                    width="400" height="318" style="background-color: #454b63;" />
                            </figure>
                            <div class="store-content">
                                <figure class="seller-brand">
                                    <img src="/wolmart/assets/images/vendor/brand/1.jpg" alt="Brand" width="80" height="80" />
                                </figure>
                                <div class="seller-date">
                                    <h4 class="store-title">
                                        <a href="/single-vendor-details">Vendor 1</a>
                                    </h4>
                                    <ul class="seller-info-list list-style-none">
                                        <li class="store-address">
                                            <i class="w-icon-map-marker"></i>
                                            <p>287 cherry Hill Ave. South El 
                                            Monte, CA 91733, Aland lslands</p>
                                        </li>
                                        <li class="store-rating">
                                            <div class="ratings-container">
                                                <div class="ratings-full">
                                                    <span class="ratings" style="width: 100%;"></span>
                                                    <span class="tooltiptext tooltip-top"></span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- End of Store -->
                    </div>
                    <div class="store-wrap mb-4">
                        <div class="store store-wcmp br-sm">
                            <figure class="store-banner">
                                <img src="/wolmart/assets/images/vendor/wcmp/2.jpg" alt="Vendor" 
                                    width="400" height="318" style="background-color: #6a6867;" />
                            </figure>
                            <div class="store-content">
                                <figure class="seller-brand">
                                    <img src="/wolmart/assets/images/vendor/brand/2.jpg" alt="Brand" width="80" height="80" />
                                </figure>
                                <div class="seller-date">
                                    <h4 class="store-title">
                                        <a href="/single-vendor-details">Vendor 2</a>
                                    </h4>
                                    <ul class="seller-info-list list-style-none">
                                        <li class="store-address">
                                            <i class="w-icon-map-marker"></i>
                                            <p>Fuchu, Hiroshima, Thai Nguyen,
                                            Hiroshima, Japan,27000</p>
                                        </li>
                                        <li class="store-rating">
                                            <i class="w-icon-star-full"></i>
                                            <p>No Rating Yet</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- End of Store -->
                    </div>
                    <div class="store-wrap mb-4">
                        <div class="store store-wcmp br-sm">
                            <figure class="store-banner">
                                <img src="/wolmart/assets/images/vendor/wcmp/3.jpg" alt="Vendor" 
                                    width="400" height="318" style="background-color: #5a5958;" />
                            </figure>
                            <div class="store-content">
                                <figure class="seller-brand">
                                    <img src="/wolmart/assets/images/vendor/brand/3.jpg" alt="Brand" width="80" height="80" />
                                </figure>
                                <div class="seller-date">
                                    <h4 class="store-title">
                                        <a href="/single-vendor-details">Vendor 3</a>
                                    </h4>
                                    <ul class="seller-info-list list-style-none">
                                        <li class="store-address">
                                            <i class="w-icon-map-marker"></i>
                                            <p>848 Baker Rd, Huntsville, AL 35803,
                                            Minato, Tokyo, Japan, 12000</p>
                                        </li>
                                        <li class="store-rating">
                                            <div class="ratings-container">
                                                <div class="ratings-full">
                                                    <span class="ratings" style="width: 100%;"></span>
                                                    <span class="tooltiptext tooltip-top"></span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- End of Store -->
                    </div>
                    <div class="store-wrap mb-4">
                        <div class="store store-wcmp br-sm">
                            <figure class="store-banner">
                                <img src="/wolmart/assets/images/vendor/wcmp/4.jpg" alt="Vendor" 
                                    width="400" height="318" style="background-color: #585e65;" />
                            </figure>
                            <div class="store-content">
                                <figure class="seller-brand">
                                    <img src="/wolmart/assets/images/vendor/brand/4.jpg" alt="Brand" width="80" height="80" />
                                </figure>
                                <div class="seller-date">
                                    <h4 class="store-title">
                                        <a href="/single-vendor-details">Vendor 4</a>
                                    </h4>
                                    <ul class="seller-info-list list-style-none">
                                        <li class="store-address">
                                            <i class="w-icon-map-marker"></i>
                                            <p>908 New Hampshire Avenue #100,
                                            Washington, United States</p>
                                        </li>
                                        <li class="store-rating">
                                            <div class="ratings-container">
                                                <div class="ratings-full">
                                                    <span class="ratings" style="width: 100%;"></span>
                                                    <span class="tooltiptext tooltip-top"></span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- End of Store -->
                    </div>
                    <div class="store-wrap mb-4">
                        <div class="store store-wcmp br-sm">
                            <figure class="store-banner">
                                <img src="/wolmart/assets/images/vendor/wcmp/5.jpg" alt="Vendor" 
                                    width="400" height="318" style="background-color: #27282c;" />
                            </figure>
                            <div class="store-content">
                                <figure class="seller-brand">
                                    <img src="/wolmart/assets/images/vendor/brand/5.jpg" alt="Brand" width="80" height="80" />
                                </figure>
                                <div class="seller-date">
                                    <h4 class="store-title">
                                        <a href="/single-vendor-details">Vendor 5</a>
                                    </h4>
                                    <ul class="seller-info-list list-style-none">
                                        <li class="store-address">
                                            <i class="w-icon-map-marker"></i>
                                            <p>Fuchu, Hiroshima, Thai Nguyen,
                                            Hiroshima, Japan,27000</p>
                                        </li>
                                        <li class="store-rating">
                                            <i class="w-icon-star-full"></i>
                                            <p>No Rating Yet</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- End of Store -->
                    </div>
                    <div class="store-wrap mb-4">
                        <div class="store store-wcmp br-sm">
                            <figure class="store-banner">
                                <img src="/wolmart/assets/images/vendor/wcmp/6.jpg" alt="Vendor" 
                                    width="400" height="318" style="background-color: #a387b8;" />
                            </figure>
                            <div class="store-content">
                                <figure class="seller-brand">
                                    <img src="/wolmart/assets/images/vendor/brand/6.jpg" alt="Brand" width="80" height="80" />
                                </figure>
                                <div class="seller-date">
                                    <h4 class="store-title">
                                        <a href="/single-vendor-details">Vendor 6</a>
                                    </h4>
                                    <ul class="seller-info-list list-style-none">
                                        <li class="store-address">
                                            <i class="w-icon-map-marker"></i>
                                            <p>848 Baker Rd, Huntsville, AL 35803,
                                            Minato, Tokyo, Japan, 12000</p>
                                        </li>
                                        <li class="store-rating">
                                            <i class="w-icon-star-full"></i>
                                            <p>No Rating Yet</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- End of Store -->
                    </div>
                </div>
                <!-- End of Vendor Store -->
            </div>
        </div>

       
        <!-- End of Banner Product Wrapper -->

        <div class="banner br-sm banner-electronics appear-animate" style="background-image: url(/wolmart/assets/images/demos/demo2/banners/3.jpg);
            background-color: #333;">
            <div class="banner-content mr-10 pr-1">
                <div class="banner-price-info text-white font-weight-normal ls-25">
                    Save Big on <span class="font-weight-bolder text-secondary text-uppercase">50% Off</span>
                </div>
                <h3 class="banner-title text-white mb-0 ls-25">Cameras and Leans Sale</h3>
            </div>
            <a href="/shop-by-category?categoryid=13" class="btn btn-white btn-rounded btn-icon-right mt-1">Shop Now<i
                    class="w-icon-long-arrow-right"></i></a>
        </div>
        <!-- End of Banner -->




        



			 <% for(i=0;i<result[4].length;i++){%>


        <div class="title-link-wrapper mb-2 appear-animate">
            <h2 class="title"><%=result[4][i].name%></h2>
            <!-- <a href="shop-boxed-banner.html" class="font-weight-bold ls-25">More Products<i
                    class="w-icon-long-arrow-right"></i></a> -->
        </div>

    <% const filteredData = result[3].filter(item => item.textname == result[4][i].name) %>



        <div class="owl-carousel owl-theme top-products row cols-lg-5 cols-md-4 cols-sm-3 cols-2 mb-6 appear-animate"
            data-owl-options="{
            'nav': false,
            'dots': true,
            'margin': 20,
            'responsive': {
                '0': {
                    'items': 2
                },
                '576': {
                    'items': 3
                },
                '768': {
                    'items': 4
                },
                '992': {
                    'items': 5
                }
            }
        }">
          
        <% for(j=0;j<filteredData.length;j++){ %>
        
        <div class="product-wrap">
                <div class="product text-center">
                    <figure class="product-media">
                        <a href="/product?id=<%=filteredData[j].productid%>">
                            <img src="/images/<%=filteredData[j].productimage%>" alt="Product" width="300"
                                height="338">
                          
                        </a>
                       
                       
                       
                    </figure>
                    <div class="product-details">
                        <h4 class="product-name"><a href="/product?id=<%=filteredData[j].productid%>"><%=filteredData[j].productname%></a></h4>
                        <div class="ratings-container">
                            
                        </div>
                        <div class="product-price">
                            <ins class="new-price">Rs.<%=filteredData[j].productnetamount%></ins>
                        </div>
                    </div>
                </div>
            </div>
          <% } %>
        </div>

       

<% } %>
        
        <!-- End of Owl Carousel -->

       
        <!-- End of Owl Carousel -->

        
        <!-- End of Brands Wrapper -->

     
    </div>
    <!-- End of Container -->
</main>
<!-- End of Main -->

<%- include ('./footer.ejs') %>

