<%- include ('./header.ejs') %>


<section class="user-panel-body py-5">
<div class="container">
<div class="row">
<div class="col-xl-3 col-sm-4">
<div class="user-panel-body-left">
<div class="bg-white rounded p-4 mb-4 text-center shadow-sm">
<h6 class="text-black mb-2 text-gray-900"><%=result[2][0].name%></h6>
<p class="mb-3"><%=result[2][0].number%></p>
<a href="/logout">
<button type="button" class="btn btn-primary btn-block"><i class="icofont-logout"></i>
Logout</button>
</a>
<!-- <p class="mb-0 mt-3"><a href="#">Edit Profile</a></p> -->
</div>
<div class="user-panel-sidebar-link mb-4 bg-white rounded shadow-sm overflow-hidden">
<a href="#mo"><i class="icofont-sale-discount"></i> My Orders</a>

<a href="#md"><i class="icofont-fire"></i> My Deals</a>
<a href="#ms"><i class="icofont-building"></i> My Address</a>
<a href="#ep"><i class="icofont-building"></i> Edit Profile</a>


</div>
</div>
</div>
<div class="col-xl-9 col-sm-8">
 <div class="user-panel-body-right">
    <div id="mo" class="user-panel-tab-view mb-4">
        <div class="shadow-sm rounded overflow-hidden mb-3">
        <div class="p-4 bg-white">
        <h5 class="mb-0 text-gray-900">My Orders</h5>
        </div>
        
        </div>
        <div>
        <div class="row">
        
        
            <% for(i=0;i<result[1].length;i++) { %>
                
                <div class="col-xl-3 col-sm-6" style="margin-top: 20px;">
                <div class="custom-card shadow-sm h-100">
                <div class="custom-card-image">
                <a href="#">
                <img class="img-fluid item-img" src="/images/<%=result[1][i].bookingimage%>">
                </a>
                
                </div>
                <div class="p-3 pt-4">
                <div class="custom-card-body">
                <h6 class="mb-3"><a class="text-gray-900" href="#"><%=result[1][i].bookingname%></a></h6>
                <p class="text-gray-500"><i class="icofont-clock-time"></i> Order ID <%=result[1][i].orderid%></p>
                <p class="text-gray-500"><i class="icofont-clock-time"></i> Price <%=result[1][i].price%></p>
                <p class="text-gray-500"><i class="icofont-clock-time"></i> Status <%=result[1][i].status%></p>
        
        
                </div>
                <div class="custom-card-footer d-flex align-items-center">
                
             
                
                
                
                <a href="/invoice?orderid=<%=result[1][i].orderid%>" class="btn btn-sm btn-white ml-auto" style="cursor:pointer">Invoice</a>
                
               
                
                
                </div>
                </div>
                </div>
                </div>
                
                <% } %>
        
        
        
        </div>
        </div>
        </div>
<div id="md" class="user-panel-tab-view mb-4">
<div class="shadow-sm rounded overflow-hidden mb-3">
<div class="p-4 bg-white">
<h5 class="mb-0 text-gray-900">My Deals</h5>
</div>

</div>
<div>
<div class="row">


    <% for(i=0;i<result[5].length;i++) { %>
        
        <div class="col-xl-4 col-sm-6" style="margin-bottom: 20px;">
        <div class="custom-card shadow-sm h-100">
        <div class="custom-card-image">
        <a href="#">
        <img class="img-fluid item-img" src="/images/<%=result[5][i].image%>">
        </a>
        
        </div>
        <div class="p-3 pt-4">
        <div class="custom-card-body">
        <h6 class="mb-3"><a class="text-gray-900" href="#"><%=result[5][i].coupon_description%>
        </a></h6>
        <p class="text-gray-500"><i class="icofont-clock-time"></i> Expiry at <%=result[5][i].expiry%></p>
        </div>
        <div class="custom-card-footer d-flex align-items-center">
        
        <% if(result[5][i].type =='flat') { %>
        
            <span class="text-danger">Flat Rs. <%=result[5][i].coupon_cashprice%> OFF</span>
        
            <% } else { %>
                <span class="text-danger"><i class="icofont-sale-discount"></i> <%=result[5][i].coupon_cashprice%> % OFF</span>
        
                <% } %>
        
        
        
        <a class="btn btn-sm btn-white ml-auto" style="cursor:pointer"><%=result[5][i].otp%></a>
        
       
        
        
        </div>
        </div>
        </div>
        </div>
        
        <% } %>


</div>
</div>
</div>

<div id="ms" class="user-panel-tab-view mb-4">
<div class="shadow-sm rounded overflow-hidden mb-3">
<div class="p-4 bg-white">
<h5 class="mb-0 text-gray-900">My Address</h5>
</div>

</div>
<div>
<div class="row">

    <% for(i=0;i<result[3].length;i++) { %>

        <div class="col-sm-6 mb-6">
            <div class="ecommerce-address shipping-address pr-lg-8">

                <address class="mb-4">

                    <div class="custom-card bg-white shadow-sm h-100 stor-card">
                    <div class="custom-card-image">
                    
                    <div class="p-3">
                    <div class="custom-card-body">
                    <h6 class="mb-0"><a class="text-gray-900" href="#"><%=result[3][i].name%>,
                    Inc.</a></h6>
                    <p class="text-gray-500 mb-2"><%=result[3][i].area%> , <%=result[3][i].landmark%> , <%=result[3][i].state%> , <%=result[3][i].city%> , <%=result[3][i].pincode%></p>
                    <p class="text-gray-500 mb-2"><span class="text-black"><%=result[3][i].number%>
                    </span></p>
                    </div>
                   
                    </div>
                    </div>
                    </div>
                    </address>
                    
                    
                    

                    
              
                <!-- <a href="/edit/address?id=<%=result[3][i].id%>" id="edit-kro" class="link-to-tab">Edit your
                    shipping address</a> -->
            </div>
        </div>

        <% } %>

</div>
</div>

</div>




<div id="ep" class="user-panel-tab-view mb-4">
    <div class="shadow-sm rounded overflow-hidden mb-3">
    <div class="p-4 bg-white">
    <h5 class="mb-0 text-gray-900">Account Details</h5>
    </div>
    
    </div>
    <div>
    
    
        <form class="form account-details-form" action="/myaccount-update" method="post" style="margin-top:20px;">
            <div class="row">
                <div class="col-md-6 col-lg-6">
                    <div class="form-group">
                        <label for="firstname">Full name *</label>
                        <input type="text" id="firstname" name="name" placeholder="Enter Name"
                            class="form-control form-control-md" value="<%=result[2][0].name%>">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="lastname">Mobile Number *</label>
                        <input type="text" id="lastname" name="number" placeholder="Mobile Number"
                            class="form-control form-control-md" value="<%=result[2][0].number%>" readonly>
                    </div>
                </div>
            </div>

         

            <div class="form-group mb-6">
                <label for="email_1">Email address *</label>
                <input type="email" id="email_1" name="email" value="<%=result[2][0].email%>"
                    class="form-control form-control-md">
            </div>
          
           
            <button type="submit" class="btn btn-dark btn-rounded btn-sm mb-4">Save Changes</button>
        </form>
    
    </div>
    </div>
    
    </div>



</div>
</div>
</section>



<%- include ('./footer.ejs') %>
