<%- include ('./header.ejs') %>




<section class="offer-dedicated-body section-padding">
<div class="container pt-lg-4">
<div class="row">
<div class="col-xl-12 col-sm-12">
<div class="offer-dedicated-body-left">

<div class="deal-of-the-day mb-4">
<img class="img-fluid shadow-sm rounded" src="/images/<%=result[1][0].logo%>">
</div>
<div>

</div>
<div id="about" class="bg-white shadow-sm rounded p-4 mb-4">
    
<h5 class="mb-4  text-gray-900"><%=result[1][0].title%></h5>


<p><span id="result"></span></p>


</div>


</div>
</div>

</div>
</div>
</section>


<input type="hidden" value="<%=id%>" class="blogid">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>


$( document ).ready(function() {
 let id = $('.blogid').val();
 $.getJSON('/get-single-blog-description',{id},data=>{
     console.log(data)
     makeblog(data)
  
 })
});

function makeblog(data){
    let table = `<span>${data[0].content}</span>`
     $('#result').html(table)
}

        </script>


<%- include ('./footer.ejs') %>
