<%- include ('./header.ejs') %>


<section class="section-padding">
<div class="container py-lg-4">
<div class="row">
<div class="col-xl-12">
<div class="d-sm-flex align-items-center justify-content-between mb-4" style="margin-top: 40px;">
<h1 class="h5 mb-0 text-gray-900"><%=result[1][0].categoryname%></h1>
</div>
</div>



<% for(i=0;i<result[1].length;i++){ %>
<div class="col-xl-3 col-sm-6 mb-4">
<div class="custom-card shadow-sm h-100 stor-card">
<div class="custom-card-image">
<a href="/single-vendor-details?vendorid=<%=result[1][i].id%>">
<img class="img-fluid item-img" src="/images/<%=result[1][i].shop_img2%>">
</a>

</div>
<div class="p-3">
<div class="custom-card-body">
<h6 class="mb-0"><a class="text-gray-900" href="/single-vendor-details?vendorid=<%=result[1][i].id%>"><%=result[1][i].business_name%></a></h6>
<p class="text-gray-500 mb-2"> <%=result[1][i].address%></p>
</div>
</div>

</div>
</div>
<% } %>
</div>

</div>
</section>


<%- include ('./footer.ejs') %>
