

<%- include ('./header.ejs') %>



<section class="restaurant-detailed-banner">
<div class="text-center">
<img class="img-fluid cover" src="/images/<%=result[1][0].shop_img2%>">
</div>
<div class="restaurant-detailed-header">
<div class="container">
<div class="row d-flex align-items-end">
<div class="col-lg-8">
<div class="restaurant-detailed-header-left d-flex align-items-center">
<img class="img-fluid-pic mr-3 float-left" alt="Osahan Deel" src="/images/<%=result[1][0].image%>" style="width:100px;height:100px;border-radius: 50%;object-fit: contain;">
<div>
<h3 class="text-gray-900 mb-2"><%=result[1][0].business_name%></h3>
<p class="mb-1"><i class="icofont-location-pin"></i>  <%=result[1][0].address%>
</p>

</div>
</div>
</div>
<div class="col-lg-4">
<div class="restaurant-detailed-header-right text-right">
<button class="btn btn-success" type="button"><i class="icofont-clock-time"></i> Open
</button>
<h6 class="mb-0 restaurant-detailed-ratings font-weight-normal"><span class="bg-gradient-primary rounded text-white"><i class="icofont-star"></i>
3.1</span> 23 Ratings <i class="ml-3 icofont-speech-comments"></i> 91 reviews</h6>
</div>
</div>
</div>
</div>
</div>
</section>
<section class="custom-nav bg-white border-top shadow-sm">
<div class="container">
<div class="row">
<div class="col-md-12">
<span class="restaurant-detailed-action-btn float-right">
</span>
<ul class="nav" id="pills-tab" role="tablist">
<li class="nav-item">
<span class="nav-link" id="pills-order-online-tab" data-toggle="pill" href="#pills-order-online" role="tab" aria-controls="pills-order-online" aria-selected="true">Order Online</span>
</li>
<li class="nav-item">
<span class="nav-link active" id="pills-gallery-tab" data-toggle="pill" href="#pills-gallery" role="tab" aria-controls="pills-gallery" aria-selected="false">Deals & Coupons</span>
</li>
<li class="nav-item">
<span class="nav-link" id="pills-restaurant-info-tab" data-toggle="pill" href="#pills-restaurant-info" role="tab" aria-controls="pills-restaurant-info" aria-selected="false"><%=result[1][0].categoryname%> Info</span>
</li>
<!-- <li class="nav-item">
<span class="nav-link" id="pills-book-tab" data-toggle="pill" href="#pills-book" role="tab" aria-controls="pills-book" aria-selected="false">Book A Table</span>
</li> -->
<li class="nav-item">
<span class="nav-link" id="pills-reviews-tab" data-toggle="pill" href="#pills-reviews" role="tab" aria-controls="pills-reviews" aria-selected="false">Ratings & Reviews</span>
</li>
</ul>
</div>
</div>
</div>
</section>
<section class="offer-dedicated-body section-padding">
<div class="container py-lg-4">
<div class="row">
<div class="col-lg-8">
<div class="offer-dedicated-body-left">
<div class="tab-content" id="pills-tabContent">
<div class="tab-pane fade show " id="pills-order-online" role="tabpanel" aria-labelledby="pills-order-online-tab">


<div class="row">
<h5 class="mb-3 mt-3 col-md-12 text-gray-900">My Products</h5>

<% if(result[5][0]) { %>
    <% for(i=0;i<result[5].length;i++) { %>

        <div class="col-xl-4 col-sm-6" style="margin-top: 20px;">
        <div class="custom-card shadow-sm h-100">
        <div class="custom-card-image">
        <a href="/product?id=<%=result[5][i].id%>">
        <img class="img-fluid item-img" src="/images/<%=result[5][i].image%>" style="object-fit:cover">
        </a>
        
        </div>
        <div class="p-3 pt-4">
        <div class="custom-card-body">
        <h6 class="mb-3"><a class="text-gray-900" href="#"><%=result[5][i].name%></a></h6>
        <p class="text-gray-500"> <%=result[5][i].short_description%></p>
        </div>
        <div class="custom-card-footer d-flex align-items-center">
                <span class="text-danger"> Rs.<%=result[5][i].net_amount%> </span>
        </div>
        </div>
        </div>
        </div>
        
        <% } %>

    <% } else { %>

        <div class="col-xl-6 col-sm-6" style="margin-top: 20px;">
            <div class="custom-card shadow-sm h-100">
           
            <div class="p-3 pt-4">
            <div class="custom-card-body">
            <h6 class="mb-3"><a class="text-gray-900" href="#">No Products Found</a></h6>
            </div>
            </div>
            </div>
            </div>

        <% } %>


</div>

</div>
<div class="tab-pane  active" id="pills-gallery" role="tabpanel" aria-labelledby="pills-gallery-tab">
<div id="gallery" class="bg-white rounded shadow-sm p-4 mb-4">
    <p style="font-weight: bold;font-size: 16px;">Exclusive Deals</p>
    <div class="row">
        <% for(i=0;i<result[6].length;i++) { %>

            <div class="col-xl-6 col-sm-6" style="margin-top: 30px;">
            <div class="custom-card shadow-sm h-100">
            <div class="custom-card-image">
            <a href="#">
            <img class="img-fluid item-img" src="/images/<%=result[6][i].image%>">
            </a>
            
            </div>
            <div class="p-3 pt-4">
            <div class="custom-card-body">
            <h6 class="mb-3"><a class="text-gray-900" href="#"><%=result[6][i].short_description%>
            Bank</a></h6>
            <p class="text-gray-500"><i class="icofont-clock-time"></i> Expiry at <%=result[6][i].expiry%></p>
            </div>
            <div class="custom-card-footer d-flex align-items-center">
            
          
            
                    <% if(result[6][i].isredeem == null || result[6][i].isredeem == '' || result[6][i].isredeem == 'null' || result[6][i].isredeem ==[]){ %>
            
            <a class="btn btn-sm btn-white ml-auto redeem_this_code" id="<%=result[6][i].id%>" code="<%=result[6][i].name%>" expiry="<%=result[6][i].expiry%>" vendorid = '<%=result[6][i].vendorid%>' style="cursor:pointer">Redeem Deals</a>
            
            <% } else { %>
            
            
                <% } %>
            
            
            </div>
            </div>
            </div>
            </div>
            
            <% } %>
</div>



<p style="font-weight: bold;font-size: 16px;margin-top: 20px;">Deals of the Day</p>
<div class="row">


    <% for(i=0;i<result[7].length;i++) { %>

        <div class="col-xl-6 col-sm-6">
        <div class="custom-card shadow-sm h-100">
        <div class="custom-card-image">
        <a href="#">
        <img class="img-fluid item-img" src="/images/<%=result[7][i].image%>">
        </a>
        
        </div>
        <div class="p-3 pt-4">
        <div class="custom-card-body">
        <h6 class="mb-3"><a class="text-gray-900" href="#"><%=result[7][i].short_description%>
        Bank</a></h6>
        <p class="text-gray-500"><i class="icofont-clock-time"></i> Expiry at <%=result[7][i].expiry%></p>
        </div>
        <div class="custom-card-footer d-flex align-items-center">
        
        <% if(result[7][i].type =='flat') { %>
        
            <span class="text-danger">Flat Rs. <%=result[7][i].discount%> OFF</span>
        
            <% } else { %>
                <span class="text-danger"><i class="icofont-sale-discount"></i> <%=result[7][i].discount%> % OFF</span>
        
                <% } %>
        
        
                <% if(result[7][i].isredeem == null || result[7][i].isredeem == '' || result[7][i].isredeem == 'null' || result[7][i].isredeem ==[]){ %>
        
        <a class="btn btn-sm btn-white ml-auto redeem_this_code" id="<%=result[7][i].id%>" code="<%=result[7][i].name%>" expiry="<%=result[7][i].expiry%>" vendorid = '<%=result[7][i].vendorid%>' style="cursor:pointer">Redeem Deals</a>
        
        <% } else { %>
        
        
            <% } %>
        
        
        </div>
        </div>
        </div>
        </div>
        
        <% } %>

    
</div>



<p style="font-weight: bold;font-size: 16px;margin-top: 20px;">Mega Deals</p>
<div class="row">



    <% for(i=0;i<result[8].length;i++) { %>
        
        <div class="col-xl-6 col-sm-6">
        <div class="custom-card shadow-sm h-100">
        <div class="custom-card-image">
        <a href="#">
        <img class="img-fluid item-img" src="/images/<%=result[8][i].image%>">
        </a>
        
        </div>
        <div class="p-3 pt-4">
        <div class="custom-card-body">
        <h6 class="mb-3"><a class="text-gray-900" href="#"><%=result[8][i].short_description%>
        Bank</a></h6>
        <p class="text-gray-500"><i class="icofont-clock-time"></i> Expiry at <%=result[8][i].expiry%></p>
        </div>
        <div class="custom-card-footer d-flex align-items-center">
        
        <% if(result[8][i].type =='flat') { %>
        
            <span class="text-danger">Flat Rs. <%=result[8][i].discount%> OFF</span>
        
            <% } else { %>
                <span class="text-danger"><i class="icofont-sale-discount"></i> <%=result[8][i].discount%> % OFF</span>
        
                <% } %>
        
        
                <% if(result[8][i].isredeem == null || result[8][i].isredeem == '' || result[8][i].isredeem == 'null' || result[8][i].isredeem ==[]){ %>
        
        <a class="btn btn-sm btn-white ml-auto redeem_this_code" id="<%=result[8][i].id%>" code="<%=result[8][i].name%>" expiry="<%=result[8][i].expiry%>" vendorid = '<%=result[8][i].vendorid%>' style="cursor:pointer">Redeem Deals</a>
        
        <% } else { %>
        
        
            <% } %>
        
        
        </div>
        </div>
        </div>
        </div>
        
        <% } %>

</div>


</div>
</div>
<div class="tab-pane fade" id="pills-restaurant-info" role="tabpanel" aria-labelledby="pills-restaurant-info-tab">
<div id="restaurant-info" class="bg-white rounded shadow-sm p-4 mb-4">
<div class="address-map float-right ml-5">
<div class="mapouter">
<div class="gmap_canvas"><iframe width="300" height="170" id="gmap_canvas" src="https://maps.google.com/maps?q=<%=result[1][0].address%>&amp;t=&amp;z=9&amp;ie=UTF8&amp;iwloc=&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div>
</div>
</div>
<h5 class="mb-3 text-gray-900"><%=result[1][0].categoryname%> Info</h5>
<p class="mb-3"><%=result[1][0].address%>
</p>
<p class="mb-2"><i class="icofont-phone-circle text-primary mr-2"></i> +91
    <%=result[1][0].number%></p>
<p class="mb-2"><i class="icofont-clock-time text-primary mr-2"></i> 
<span class="badge badge-success"> OPEN NOW </span>
</p>
<hr class="clearfix">



</div>
</div>
<div class="tab-pane fade" id="pills-book" role="tabpanel" aria-labelledby="pills-book-tab">
<div id="book-a-table" class="bg-white rounded shadow-sm p-4 mb-5 rating-review-select-page">
<h5 class="mb-4 text-gray-900">Book A Table</h5>
<form>
<div class="row">
<div class="col-sm-6">
<div class="form-group">
<label>Full Name</label>
<input class="form-control" type="text" placeholder="">
</div>
</div>
<div class="col-sm-6">
<div class="form-group">
<label>Email Address</label>
<input class="form-control" type="text" placeholder="">
</div>
</div>
</div>
<div class="row">
<div class="col-sm-6">
<div class="form-group">
<label>Mobile number</label>
<input class="form-control" type="text" placeholder="">
</div>
</div>
<div class="col-sm-6">
<div class="form-group">
<label>Date And Time</label>
<input class="form-control" type="text" placeholder="">
</div>
</div>
</div>
<div class="form-group text-right">
<button class="btn btn-primary" type="button"> Submit </button>
</div>
</form>
</div>
</div>
<div class="tab-pane fade" id="pills-reviews" role="tabpanel" aria-labelledby="pills-reviews-tab">
<div id="ratings-and-reviews" class="bg-white rounded shadow-sm p-4 mb-4 clearfix restaurant-detailed-star-rating">
<span class="star-rating float-right">
<a href="#"><i class="icofont-ui-rating icofont-2x active"></i></a>
<a href="#"><i class="icofont-ui-rating icofont-2x active"></i></a>
<a href="#"><i class="icofont-ui-rating icofont-2x active"></i></a>
<a href="#"><i class="icofont-ui-rating icofont-2x active"></i></a>
<a href="#"><i class="icofont-ui-rating icofont-2x"></i></a>
</span>
<h5 class="mb-0 pt-1 text-gray-900">Rate this Place</h5>
</div>
<div class="bg-white rounded shadow-sm p-4 mb-4 clearfix graph-star-rating">
<h5 class="mb-0 mb-4 text-gray-900">Ratings and Reviews</h5>
<div class="graph-star-rating-header">
<div class="star-rating">
<a href="#"><i class="icofont-ui-rating active"></i></a>
<a href="#"><i class="icofont-ui-rating active"></i></a>
<a href="#"><i class="icofont-ui-rating active"></i></a>
<a href="#"><i class="icofont-ui-rating active"></i></a>
<a href="#"><i class="icofont-ui-rating"></i></a> <b class="text-gray-800 ml-2">334</b>
</div>
<p class="text-gray-800 mb-4 mt-2">Rated 3.5 out of 5</p>
</div>
<div class="graph-star-rating-body">
<div class="rating-list">
<div class="rating-list-left text-gray-800">
5 Star
</div>
<div class="rating-list-center">
<div class="progress rounded">
<div style="width: 56%" aria-valuemax="5" aria-valuemin="0" aria-valuenow="5" role="progressbar" class="progress-bar bg-primary">
<span class="sr-only">80% Complete (danger)</span>
</div>
</div>
</div>
<div class="rating-list-right text-gray-800">56%</div>
</div>
<div class="rating-list">
<div class="rating-list-left text-gray-800">
4 Star
</div>
<div class="rating-list-center">
<div class="progress rounded">
<div style="width: 23%" aria-valuemax="5" aria-valuemin="0" aria-valuenow="5" role="progressbar" class="progress-bar bg-primary">
<span class="sr-only">80% Complete (danger)</span>
</div>
</div>
</div>
<div class="rating-list-right text-gray-800">23%</div>
</div>
<div class="rating-list">
<div class="rating-list-left text-gray-800">
3 Star
</div>
<div class="rating-list-center">
<div class="progress rounded">
<div style="width: 11%" aria-valuemax="5" aria-valuemin="0" aria-valuenow="5" role="progressbar" class="progress-bar bg-primary">
<span class="sr-only">80% Complete (danger)</span>
</div>
</div>
</div>
<div class="rating-list-right text-gray-800">11%</div>
</div>
<div class="rating-list">
<div class="rating-list-left text-gray-800">
2 Star
</div>
<div class="rating-list-center">
<div class="progress rounded">
<div style="width: 2%" aria-valuemax="5" aria-valuemin="0" aria-valuenow="5" role="progressbar" class="progress-bar bg-primary">
<span class="sr-only">80% Complete (danger)</span>
</div>
</div>
</div>
<div class="rating-list-right text-gray-800">02%</div>
</div>
</div>
<div class="graph-star-rating-footer text-center mt-3 mb-3">
<button type="button" class="btn btn-outline-primary">Rate and Review</button>
</div>
</div>
<div class="bg-white rounded shadow-sm p-4 mb-4 restaurant-detailed-ratings-and-reviews">
<a href="#" class="btn btn-outline-primary btn-sm float-right">Top Rated</a>
<h5 class="mb-1 text-gray-900">All Ratings and Reviews</h5>
<div class="reviews-members pt-4 pb-4">
<div class="media">
<a href="#"><img alt="Generic placeholder image" src="/new_design/images/user/1.png" class="mr-3 rounded-pill"></a>
 <div class="media-body">
<div class="reviews-members-header">
<span class="star-rating float-right">
<a href="#"><i class="icofont-ui-rating active"></i></a>
<a href="#"><i class="icofont-ui-rating active"></i></a>
<a href="#"><i class="icofont-ui-rating active"></i></a>
<a href="#"><i class="icofont-ui-rating active"></i></a>
<a href="#"><i class="icofont-ui-rating"></i></a>
</span>
<h6 class="mb-1 text-gray-800"><a class="text-gray-900" href="#">Mishn
Osahan Deel</a></h6>
<p class="text-gray">Tue, 20 Mar 2020</p>
</div>
<div class="reviews-members-body">
<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It
has roots in a piece of classical Latin literature from 45 BC, making
it over 2000 years old. Richard McClintock, a Latin professor at
Hampden-Sydney College in Virginia, looked up one of the more obscure
Latin words, consectetur, from a Lorem Ipsum passage, and going
through the cites of the word in classical literature, discovered the
undoubtable source. Lorem Ipsum comes from sections </p>
</div>
<div class="reviews-members-footer">
<a class="total-like" href="#"><i class="icofont-thumbs-up"></i>
856M</a> <a class="total-like" href="#"><i class="icofont-thumbs-down"></i> 158K</a>
<span class="total-like-user-main ml-2" dir="rtl">
<a data-toggle="tooltip" data-placement="top" title="John Osahan Deel" href="#"><img alt="Generic placeholder image" src="/new_design/images/user/5.png" class="total-like-user rounded-pill"></a>
<a data-toggle="tooltip" data-placement="top" title="John Mishn" href="#"><img alt="Generic placeholder image" src="/new_design/images/user/2.png" class="total-like-user rounded-pill"></a>
<a data-toggle="tooltip" data-placement="top" title="Askbootstrap" href="#"><img alt="Generic placeholder image" src="/new_design/images/user/3.png" class="total-like-user rounded-pill"></a>
<a data-toggle="tooltip" data-placement="top" title="Osahan Deel" href="#"><img alt="Generic placeholder image" src="/new_design/images/user/4.png" class="total-like-user rounded-pill"></a>
</span>
</div>
</div>
</div>
</div>
<hr>
<div class="reviews-members pt-4 pb-4">
<div class="media">
<a href="#"><img alt="Generic placeholder image" src="/new_design/images/user/6.png" class="mr-3 rounded-pill"></a>
<div class="media-body">
<div class="reviews-members-header">
<span class="star-rating float-right">
<a href="#"><i class="icofont-ui-rating active"></i></a>
<a href="#"><i class="icofont-ui-rating active"></i></a>
<a href="#"><i class="icofont-ui-rating active"></i></a>
<a href="#"><i class="icofont-ui-rating active"></i></a>
<a href="#"><i class="icofont-ui-rating"></i></a>
</span>
<h6 class="mb-1 text-gray-800"><a class="text-gray-900" href="#">John
Mishn</a></h6>
<p class="text-gray">Tue, 20 Mar 2020</p>
</div>
<div class="reviews-members-body">
<p>It is a long established fact that a reader will be distracted by the
readable content of a page when looking at its layout. The point of
using Lorem Ipsum is that it has a more-or-less normal distribution
of letters, as opposed to using 'Content here, content here', making
it look like readable English.</p>
</div>
<div class="reviews-members-footer">
<a class="total-like" href="#"><i class="icofont-thumbs-up"></i> 88K</a>
<a class="total-like" href="#"><i class="icofont-thumbs-down"></i>
1K</a>
<span class="total-like-user-main ml-2" dir="rtl">
<a data-toggle="tooltip" data-placement="top" title="John Osahan Deel" href="#"><img alt="Generic placeholder image" src="/new_design/images/user/5.png" class="total-like-user rounded-pill"></a>
<a data-toggle="tooltip" data-placement="top" title="John Mishn" href="#"><img alt="Generic placeholder image" src="/new_design/images/user/2.png" class="total-like-user rounded-pill"></a>
<a data-toggle="tooltip" data-placement="top" title="Askbootstrap" href="#"><img alt="Generic placeholder image" src="/new_design/images/user/3.png" class="total-like-user rounded-pill"></a>
<a data-toggle="tooltip" data-placement="top" title="Osahan Deel" href="#"><img alt="Generic placeholder image" src="/new_design/images/user/4.png" class="total-like-user rounded-pill"></a>
</span>
</div>
</div>
</div>
</div>
<hr>
<a class="text-center w-100 d-block mt-4 font-weight-bold" href="#">See All
Reviews</a>
</div>
<div class="bg-white rounded shadow-sm p-4 mb-5 rating-review-select-page">
<h5 class="mb-4  text-gray-900">Leave Comment</h5>
<p class="mb-2">Rate the Place</p>
<div class="mb-4">
<span class="star-rating">
<a href="#"><i class="icofont-ui-rating icofont-2x"></i></a>
<a href="#"><i class="icofont-ui-rating icofont-2x"></i></a>
<a href="#"><i class="icofont-ui-rating icofont-2x"></i></a>
<a href="#"><i class="icofont-ui-rating icofont-2x"></i></a>
<a href="#"><i class="icofont-ui-rating icofont-2x"></i></a>
</span>
</div>
<form>
<div class="form-group">
<label>Your Comment</label>
<textarea class="form-control"></textarea>
</div>
<div class="form-group mb-0 text-right">
<button class="btn btn-primary" type="button"> Submit Comment </button>
</div>
</form>
</div>
</div>
</div>
</div>
</div>


<div class="col-lg-4">
  


    
<% for(i=0;i<result[2].length;i++) { %>
        
    <div class="py-2">
    <div class="custom-card shadow-sm h-100">
    <div class="custom-card-image">
    <a href="#">
    <img class="img-fluid item-img" src="/images/<%=result[2][i].image%>">
    </a>
    
    </div>
    <div class="p-3 pt-4">
    <div class="custom-card-body">
    <h6 class="mb-3"><a class="text-gray-900" href="#"><%=result[2][i].short_description%>
    Bank</a></h6>
    <p class="text-gray-500"><i class="icofont-clock-time"></i> Expiry at <%=result[2][i].expiry%></p>
    </div>
    <div class="custom-card-footer d-flex align-items-center">
    
    <% if(result[2][i].type =='flat') { %>
    
        <span class="text-danger">Flat Rs. <%=result[2][i].discount%> OFF</span>
    
        <% } else { %>
            <span class="text-danger"><i class="icofont-sale-discount"></i> <%=result[2][i].discount%> % OFF</span>
    
            <% } %>
    
    
            <% if(result[2][i].isredeem == null || result[2][i].isredeem == '' || result[2][i].isredeem == 'null' || result[2][i].isredeem ==[]){ %>
    
    <a class="btn btn-sm btn-white ml-auto redeem_this_code" id="<%=result[2][i].id%>" code="<%=result[2][i].name%>" expiry="<%=result[2][i].expiry%>" vendorid = '<%=result[2][i].vendorid%>' style="cursor:pointer">Redeem Deals</a>
    
    <% } else { %>
    
    
        <% } %>
    
    
    </div>
    </div>
    </div>
    </div>
    
    <% } %>
    
    
    </div>

</div>

</div>
</section>




<%- include ('./footer.ejs') %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $('.redeem_this_code').click(function(){
        let coupounid = $(this).attr('id')
        let code = $(this).attr('code')
        let expiry = $(this).attr('expiry')
        let vendorid = $(this).attr('vendorid')

        $.post('/redeem-this-code',{coupounid,code,expiry,vendorid},data=>{
            if(data.msg=='failed') window.location.href = '/login';
            else window.location.reload()
        })
    })
</script>

</body>

<!-- Mirrored from askbootstrap.com/preview/osahan-deel/without-sidebar/restaurant-details.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 06 Mar 2022 19:44:24 GMT -->
</html>