<%- include ('./otherheader.ejs') %>


        <!-- Start of Main -->
        <main class="main">
            <!-- Start of Breadcrumb -->
           
            <!-- End of Breadcrumb -->

            <!-- Start of Pgae Contetn -->
            <div class="page-content mb-8" style="margin-top: 20px;">
                <div class="container">
                    <div class="store store-wcfm-banner">
                        <figure class="store-media">
                            <img src="/wolmart/assets/images/vendor/wcfm/1.jpg" alt="Vendor" width="1240" height="460"
                                style="background-color: #40475e;" />
                        </figure>
                        <div class="store-content">
                            <div class="store-content-left mr-auto">
                                <div class="personal-info">
                                    <figure class="seller-brand">
                                        <img src="/wolmart/assets/images/vendor/brand/2-100x100.png" alt="Brand" width="100"
                                            height="100" />
                                    </figure>
                                    
                                </div>
                                <div class="address-info">
                                    <h4 class="store-title"><%=result[1][0].business_name%></h4>
                                    <ul class="seller-info-list list-style-none">
                                        <li class="store-address">
                                            <i class="w-icon-map-marker"></i>
                                            <%=result[1][0].address%>
                                        </li>
                                        <li class="store-phone">
                                            <a href="tel:<%=result[1][0].number%>">
                                                <i class="w-icon-phone"></i>
                                                <%=result[1][0].number%>
                                            </a>
                                        </li>
                                       
                                    </ul>
                                </div>
                            </div>
                            <div class="store-content-right">
                               
                               
                            </div>
                        </div>
                    </div>
                    <!-- End of Store WCMP Banner -->

                    <div class="row gutter-lg">
                        <aside class="sidebar left-sidebar vendor-sidebar sticky-sidebar-wrapper sidebar-fixed">
                            <!-- Start of Sidebar Overlay -->
                            <div class="sidebar-overlay"></div>
                            <a class="sidebar-close" href="#"><i class="close-icon"></i></a>
                            <a href="#" class="sidebar-toggle"><i class="w-icon-angle-right"></i></a>
                            <div class="sidebar-content">
                                <div class="sticky-sidebar">
                                    
                                    <!-- End of Widget -->
                                  
                                    <!-- End of Widget -->
                                    <div class="widget widget-collapsible widget-time">
                                        <h3 class="widget-title"><span><i class="far fa-clock"></i>Store Time</span>
                                        </h3>
                                        <ul class="widget-body">
                                            <li>
                                                <span>Monday:</span>9:00 - 10:00 pm
                                            </li>
                                            <li>
                                                <span>Tuesday:</span>9:00 - 10:00 pm
                                            </li>
                                            <li>
                                                <span>Wednesday:</span>9:00 - 10:00 pm
                                            </li>
                                            <li>
                                                <span>Thursday:</span>9:00 - 2:00 pm
                                            </li>
                                            <li>
                                                <span>Friday:</span>9:00 - 10:00 pm
                                            </li>
                                            <li>
                                                <span>Saturday:</span>9:00 - 10:00 pm
                                            </li>
                                            <li>
                                                <span>Sunday:</span>9:00 - 10:00 pm
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- End of Widget -->


                                        
                                        

                                    <div class="widget widget-collapsible">
                                        <h3 class="widget-title"><span><i class="w-icon-truck"></i>Shipping Rules</span>
                                        </h3>

                                      
                                        <div class="widget-body">
                                            <p class="mb-0">Delivery Time: 1-2 business days</p>
                                        </div>
                                    </div>
                                    <!-- End of Widget -->
                                    <div class="widget widget-collapsible widget-location">
                                        <h3 class="widget-title"><span>Store Location</span></h3>
                                        <div class="widget-body">
                                            <div class="google-map" id="googlemaps"></div>
                                        </div>
                                    </div>
                                    <!-- End of Widget -->
                                    
                                    <!-- End of Widget -->
                                </div>
                            </div>
                        </aside>
                        <!-- End of Sidebar -->

                        <div class="main-content">
                            <div class="tab tab-nav-underline tab-nav-boxed tab-vendor-wcfm">
                                <ul class="nav nav-tabs">


                                    <li class="nav-item">
                                        <a href="#tab-3" class="nav-link active">Coupons & Deals</a>
                                    </li>

                                    <li class="nav-item">
                                        
                                        <a href="#tab-1" class="nav-link ">Products</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#tab-2" class="nav-link">About</a>
                                    </li>
                                   
                                    <li class="nav-item">
                                        <a href="#tab-4" class="nav-link">Reviews(1)</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane " id="tab-1">
                                        <nav class="toolbox sticky-toolbox sticky-content fix-top">
                                          
                                        </nav>
                                        <div class="product-wrapper row cols-md-3 cols-sm-2 cols-2">
                                            <% for(i=0;i<result[0].length;i++){ %>
                                            <div class="product-wrap">
                                                <div class="product product-simple text-center">
                                                    <figure class="product-media">
                                                        <a href="/product?id=<%=result[0][i].id%>">
                                                            <img src="/images/<%=result[0][i].thumbnail%>" alt="Product"
                                                                width="300" height="338" />
                                                        </a>
                                                       
                                                    </figure>
                                                    <div class="product-details">
                                                        <h4 class="product-name"><a href="/product?id=<%=result[0][i].id%>">
                                                                <%=result[0][i].name%></a></h4>
                                                      
                                                        <div class="product-pa-wrapper">
                                                            <div class="product-price"><%=result[0][i].net_amount%></div>
                                                            <div class="product-action">
                                                               
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        <% } %>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="tab-2">
                                       
                                        <p class="mb-4"><strong>L</strong><%=result[1][0].description%></p>
                                      
                                    </div>
                                    <div class="tab-pane active" id="tab-3">
                                        <div class="policies-area">

                                            <div class="widget widget-collapsible widget-coupons">
                                                <h3 class="widget-title"><span>Store Deals</span></h3>
                                                <% for(i=0;i<result[3].length;i++) { %>
                                                <div class="widget-body">
                                                    <div class="coupon">
                                                        <%=result[3][i].name%> - <%=result[3][i].short_description%>
                                                        <div class="coupon-tip">
                                                            <div class="coupon-info-title">Maximum Cashback upto Rs. <%=result[3][i].maximum_cashback_price%></div>
                                                            <div class="coupon-info-date"><%=result[3][i].expiry%></div>
                                                            <div>Test coupon for vendor page</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <% } %>
                                            </div>


                                            <div class="widget widget-collapsible widget-coupons">
                                                <h3 class="widget-title"><span>Store Coupons</span></h3>
                                                <% for(i=0;i<result[2].length;i++) { %>
                                                <div class="widget-body">
                                                    <div class="coupon">
                                                        <% if(result[2][i].isredeem == null || result[2][i].isredeem == '' || result[2][i].isredeem == 'null' || result[2][i].isredeem ==[]){ %>
                                                        XXXX - <%=result[2][i].short_description%>
                                                        <button type="button" class="btn btn-link redeem_this_code float-right" id="<%=result[2][i].id%>" code="<%=result[2][i].name%>" expiry="<%=result[2][i].expiry%>" vendorid = '<%=result[2][i].vendorid%>' style="float: right;">Redeem This Code</button>
                                                        <% } else { %>
                                                            <%=result[2][i].name%>    - <%=result[2][i].short_description%> - your otp is <%=result[2][i].userotp%>
                                                            <% } %>
                                                        <div class="coupon-tip">
                                                            <div class="coupon-info-title">Maximum Cashback upto Rs. <%=result[2][i].maximum_cashback_price%></div>
                                                            <div class="coupon-info-date"><%=result[2][i].expiry%></div>
                                                            <div>Test coupon for vendor page</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <% } %>
                                            </div>

                                            
                                         
                                        </div>
                                      
                                     
                                    </div>
                                    <div class="tab-pane" id="tab-4">
                                        <div class="review-area">
                                            <h3 class="title font-weight-bold mb-5">Write A Review</h3>
                                            <input name="review" type="text" class="form-control"
                                                placeholder="your review">
                                            <button class="btn btn-rounded">Add Your Review</button>
                                        </div>
                                        <!-- End of Reveiw Area -->
                                        <div class="review-area">
                                            <h3 class="title font-weight-bold mb-5">Reviews</h3>
                                            <div class="reviewers d-flex align-items-center flex-wrap mb-7">
                                                <div class="reviewers-picture d-flex mr-2">
                                                    <figure>
                                                        <img src="/wolmart/assets/images/vendor/wcfm/avatar.png" alt="Avatar"
                                                            width="113" height="112" />
                                                    </figure>
                                                    <figure>
                                                        <img src="/wolmart/assets/images/vendor/wcfm/avatar.png" alt="Avatar"
                                                            width="113" height="112" />
                                                    </figure>
                                                    <figure>
                                                        <img src="/wolmart/assets/images/vendor/wcfm/avatar.png" alt="Avatar"
                                                            width="113" height="112" />
                                                    </figure>
                                                </div>
                                                <div class="reviewer-name">
                                                    <a href="#" class="font-weight-bold mr-1">John Doe</a>has reviewed
                                                    this store
                                                </div>
                                            </div>
                                            <!-- End of Reviewers -->
                                            <div class="review-ratings">
                                                <div class="review-ratings-left mr-auto">
                                                    <div class="ratings-container">
                                                        <div class="ratings-full">
                                                            <span class="ratings" style="width: 100%;"></span>
                                                        </div>
                                                        <label>5.0 Feature</label>
                                                    </div>
                                                    <div class="ratings-container">
                                                        <div class="ratings-full">
                                                            <span class="ratings" style="width: 100%;"></span>
                                                        </div>
                                                        <label>5.0 Varity</label>
                                                    </div>
                                                    <div class="ratings-container">
                                                        <div class="ratings-full">
                                                            <span class="ratings" style="width: 100%;"></span>
                                                        </div>
                                                        <label>5.0 Flexibility</label>
                                                    </div>
                                                    <div class="ratings-container">
                                                        <div class="ratings-full">
                                                            <span class="ratings" style="width: 100%;"></span>
                                                        </div>
                                                        <label>5.0 Delivery</label>
                                                    </div>
                                                    <div class="ratings-container">
                                                        <div class="ratings-full">
                                                            <span class="ratings" style="width: 100%;"></span>
                                                        </div>
                                                        <label>5.0 Support</label>
                                                    </div>
                                                </div>
                                                <!-- End of Review Ratings Left -->
                                                <div class="review-ratings-right">
                                                    <div class="average-rating">5.0<sub>/5</sub></div>
                                                    <div class="ratings-container">
                                                        <div class="ratings-full mr-0">
                                                            <span class="ratings" style="width: 100%;"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- End of Review Ratings Right -->
                                            </div>
                                            <!-- End of Review Ratings -->
                                            <div class="user-wrap">
                                                <div class="user-photo">
                                                    <figure>
                                                        <img src="/wolmart/assets/images/vendor/wcfm/avatar.png" alt="Avatar"
                                                            width="113" height="112" />
                                                    </figure>
                                                    <div class="rated text-center">
                                                        <label>Rated</label>
                                                        <span class="score">5.0</span>
                                                    </div>
                                                </div>
                                                <!-- End of User Photo -->
                                                <div class="user-info">
                                                    <h4 class="user-name">John Doe</h4>
                                                    <div class="user-date mb-7">
                                                        <span>1 Reviews</span>
                                                        <span>April 1, 2021 12:12 Pm</span>
                                                    </div>
                                                    <p>Diam in arcu cursus euismod quis. Eget sit amet tellusvitae
                                                        sapien pellentesque habitant morbi tristique senectus et.
                                                        Cras adipiscing enim ermentum et sollicitudin ac orci phasellus.
                                                    </p>
                                                </div>
                                                <!-- End of User Info -->
                                                <div class="review-ratings">
                                                    <div class="ratings-container">
                                                        <div class="ratings-full">
                                                            <span class="ratings" style="width: 100%;"></span>
                                                        </div>
                                                        <label>5.0 Feature</label>
                                                    </div>
                                                    <div class="ratings-container">
                                                        <div class="ratings-full">
                                                            <span class="ratings" style="width: 100%;"></span>
                                                        </div>
                                                        <label>5.0 Varity</label>
                                                    </div>
                                                    <div class="ratings-container">
                                                        <div class="ratings-full">
                                                            <span class="ratings" style="width: 100%;"></span>
                                                        </div>
                                                        <label>5.0 Flexibility</label>
                                                    </div>
                                                    <div class="ratings-container">
                                                        <div class="ratings-full">
                                                            <span class="ratings" style="width: 100%;"></span>
                                                        </div>
                                                        <label>5.0 Delivery</label>
                                                    </div>
                                                    <div class="ratings-container">
                                                        <div class="ratings-full">
                                                            <span class="ratings" style="width: 100%;"></span>
                                                        </div>
                                                        <label>5.0 Support</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End of User Wrap -->
                                        </div>
                                        <!-- End of Reveiw Area -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End of Main Content -->
                    </div>
                </div>
            </div>
            <!-- End of Page Content -->
        </main>
        <!-- End of Main -->

        <!-- Start of Footer -->
      


        <%- include ('./footer.ejs') %>


    <script src="https://maps.googleapis.com/maps/api/js?key="></script>
    <script>

        /*
        Map Settings

            Find the Latitude and Longitude of your address:
                - https://www.latlong.net/
                - http://www.findlatitudeandlongitude.com/find-address-from-latitude-and-longitude/

        */

        // Map Markers
        var mapMarkers = [{
            address: "New York, NY 10017",
            html: "<strong>New York Office<\/strong><br>New York, NY 10017",
            popup: true
        }];

        // Map Initial Location
        var initLatitude = 40.75198;
        var initLongitude = -73.96978;

        // Map Extended Settings
        var mapSettings = {
            controls: {
                draggable: !window.Wolmart.isMobile,
                panControl: true,
                zoomControl: true,
                mapTypeControl: true,
                scaleControl: true,
                streetViewControl: true,
                overviewMapControl: true
            },
            scrollwheel: false,
            markers: mapMarkers,
            latitude: initLatitude,
            longitude: initLongitude,
            zoom: 11
        };

        var map = $('#googlemaps').gMap(mapSettings);

        // Map text-center At
        var mapCenterAt = function (options, e) {
            e.preventDefault();
            $('#googlemaps').gMap("centerAt", options);
        }

    </script>
</body>


<script>
    $('.redeem_this_code').click(function(){
        let coupounid = $(this).attr('id')
        let code = $(this).attr('code')
        let expiry = $(this).attr('expiry')
        let vendorid = $(this).attr('vendorid')

        $.post('/redeem-this-code',{coupounid,code,expiry,vendorid},data=>{
            if(data.msg=='failed') window.location.href = '/login';
            else window.location.reload()
        })
    })
</script>

<!-- Mirrored from portotheme.com/html/wolmart/vendor-wcfm-store-product-grid.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 30 Jun 2021 06:19:45 GMT -->
</html>